---
import LightGallery from "../../components/LightGallery.vue";
import { useTranslations } from "../../i18n/utils";
import Layout from "../../layouts/Layout.astro";
const photos = await Astro.glob('../../assets/photos/*.webp');

const { lang } = Astro.params
const t = useTranslations(lang as "en" | "ru")

export async function getStaticPaths() {
  return [
    { params: { lang: "en" } },
    { params: { lang: "ru" } },
  ]
}
---
<Layout title={t("pets-page.title")}>
  <div class="mb-4 text-start">{t("pets-page.description")}</div>
  <LightGallery images={photos} client:load />
</Layout>
