---
interface Props {
    link: string
    classes?: string
}

const { link, classes } = Astro.props
const classesList = "text-white text-center text-base leading-4 whitespace-nowrap justify-center items-stretch content-center flex-wrap bg-teal-800 px-5 py-2.5 rounded-2xl " + classes
---
<div class="mt-2 flex">
    <a href={link} class={classesList}>
        <slot />
    </a>
</div>