---
import { Image } from "astro:assets";
import {useTranslations} from "../i18n/utils";

import boosty_logo from "../assets/images/boosty_logo.svg";
import donorbox_logo from "../assets/images/donorbox_logo.svg";
import btc_logo from "../assets/icons/bitcoin-logo.svg";
import eth_logo from "../assets/icons/ethereum-logo.svg";
import usdt_logo from "../assets/icons/tether-usdt-logo.svg";
import DonationCard from "./DonationCard.astro";
import Layout from "../layouts/Layout.astro";
import Toast from "./Toast.astro";

const lang = Astro.params.lang
const t = useTranslations(lang as 'en' | 'ru' );
---
<Layout title={t('donations.title')}>
    <div>
        {t('donations.description_0')}
        <a class="text-teal-800 hover:underline" href="https://docs.google.com/spreadsheets/d/1dPEKCNh1td829Mc2q43ItbZvJ458tR3Xk5mkEdkjI1I/edit#gid=1396228341" target="_blank">{t('donations.financial_report_link_text')}</a>.
    </div>

    <div class="my-4">
        {t('donations.description_1')}
    </div>
    <DonationCard link="https://donorbox.org/batumi-pet-shelter" dbClass="dbox-donation-button">
        <Image src={donorbox_logo} alt="logo" slot="title" height="72"  />
        <div slot="text">
            {t('donations.donorbox')}
        </div>
    </DonationCard>
    <DonationCard link="https://boosty.to/dzaglik.batumi">
        <Image src={boosty_logo} alt="logo" slot="title" height="72"  />
        <div slot="text">
            {t('donations.boosty')}
        </div>
    </DonationCard>
    <DonationCard>
        <div slot="title" class="flex gap-4">
            <Image src={btc_logo} alt="bitcoin logo" height="36"  />
            <Image src={eth_logo} alt="ethereum logo" height="36"  />
            <Image src={usdt_logo} alt="tether logo" height="36"  />
        </div>
        <div slot="text">
            {t('donations.crypto')}
            <div class="mt-4 text-left grid grid-cols-1 gap-2">
                <div class="break-all">
                    Bitcoin (Native SegWit): <span class="text-teal-800 cursor-pointer clipboard-copy-link">bc1qvpr9e9y7aua8hhwpyxrnf2dt09gvreukdmuct9</span>
                </div>
                <div class="break-all">
                    USDT (TRC-20): <span class="text-teal-800 cursor-pointer clipboard-copy-link">TMAYFDKaNHiLvM2UU1iDMmRVhuToUUWc1x</span>
                </div>
                <div class="break-all">
                    Etherium (ERC-20): <span class="text-teal-800 cursor-pointer clipboard-copy-link">0xf8d6Dcc1304104c1cFdC5753Ea6c9ae2932A72Df</span>
                </div>
                <div class="break-all">
                    Etherium (Arbitrum): <span class="text-teal-800 cursor-pointer clipboard-copy-link">0x56be9BC2E713c62733Ea90b40F6C62AEf9b3f7fa</span>
                </div>
                <div class="break-all">
                    Etherium (Optimism): <span class="text-teal-800 cursor-pointer clipboard-copy-link">0x56be9BC2E713c62733Ea90b40F6C62AEf9b3f7fa</span>
                </div>
            </div>
        </div>
    </DonationCard>
    <DonationCard>
        <span slot="title" class="text-4xl">{t('donations.bank')}</span>
        <div slot="text">
            <div class="mt-4">
                GEL🇬🇪 USD🇺🇸 EUR🇪🇺 GBP🇬🇧
            </div>
            <div class="text-left">
                <div>
                    <span class="font-bold">Bank name:</span> Bank of Georgia
                </div>
                <div>
                    <span class="font-bold">Account number:</span> GE43BG0000000530388567
                </div>
                <div>
                    <span class="font-bold">Account holder:</span> NAKASHIDZE MERAB
                </div>
                <div>
                    <span class="font-bold">SWIFT / BIC:</span> BAGAGE22
                </div>
            </div>
            <div class="mt-4">
                RUB🇷🇺
            </div>
            <div class="text-left">
                <div>
                    <span class="font-bold">Bank name:</span> Tinkoff Bank
                </div>
                <div>
                    <span class="font-bold">Card number:</span> 5536 9138 4041 9655
                </div>
                <div>
                    <span class="font-bold">Account holder:</span> Екатерина Вадимовна Л.
                </div>
            </div>
            <div class="mt-4">
                UAH🇺🇦
            </div>
            <div class="text-left">
                <a class="text-teal-800 hover:underline" href="https://send.monobank.ua/jar/55Nztjqy3N" target="_blank">{t('donations.monobank')}</a>
            </div>
        </div>
    </DonationCard>
    <Toast text={t('donations.copied_text')}/>
</Layout>
<script type="text/javascript" defer src="https://donorbox.org/install-popup-button.js" id="donorbox-popup-button-installer"> </script>
<script>
    window.DonorBox = { widgetLinkClassName: 'custom-dbox-popup' }

    const cryptoLinks = document.querySelectorAll('.clipboard-copy-link');
    if (cryptoLinks) {
        cryptoLinks.forEach(link => {
            link.addEventListener('click', () => {
                navigator.clipboard.writeText((link as HTMLElement).innerText)
                const toast = document.getElementById('copy-success-toast');
                if (!toast) return;
                toast.classList.remove('invisible');
                toast.classList.remove('opacity-0');
                toast.classList.add('opacity-100');
                setTimeout(() => {
                    toast.classList.remove('opacity-100');
                    toast.classList.add('opacity-0');
                    toast.classList.add('invisible');
                }, 5000);
            });
        });
    }
    const closeToast = document.getElementById('close-toast');
    if (closeToast) {
        closeToast.addEventListener('click', () => {
            const toast = document.getElementById('copy-success-toast');
            if (!toast) return;
            toast.classList.remove('opacity-100');
            toast.classList.add('invisible');
            toast.classList.add('opacity-0');
        });
    }
</script>
