---
const {link, dbClass } = Astro.props;
---
<a href={link} class={dbClass} target="_blank">
    <div class="grid grid-cols-1 my-4 border-2 rounded-2xl p-2 hover:bg-teal-800 hover:bg-opacity-5 transition-all">
        <div class="flex justify-center text-center">
            <slot name="title"/>
        </div>
        <div class="text-center mt-2">
            <slot name="text"/>
        </div>
    </div>
</a>
