---
import { Image } from "astro:assets";

import type { CollectionEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";

interface Props {
  page: CollectionEntry<'food'>;
}

const { page } = Astro.props
---
<Layout title={page.data.title}>
    <div class="whitespace-pre-wrap">{ page.data.content }</div>
    <hr class="line mt-8" />
    <div class="md:flex mt-7 gap-4 space-y-4">
        <div class="grow"></div>
        {page.data.images.map(image => (
            <div class="md:w-1/2">
                <Image src={image.file} alt="Pet food example" class="mx-auto"/>
            </div>  
        ))
        }
        <div class="grow"></div>
    </div>
</Layout>

