---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const year = new Date().getFullYear();
---
<div class="text-center text-3xl font-bold self-center w-full mt-24 max-md:mt-10">
    {t('footer.contact-us')}
</div>
<div class="text-center text-xl self-center w-full mt-2.5 max-md:max-w-full">
    {t('footer.socials')}
</div>
<div class="flex justify-center mt-8 gap-4">
  <a href="https://www.facebook.com/groups/1032779637783600" class="-mr-2.5" target="_blank" aria-label="Visit our Facebook page">
    <svg class="h-16 w-16 text-teal-800" width="24" height="24" viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.3"  stroke-linecap="round"  stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z"/>
      <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
    </svg>
  </a>
  <a href="https://t.me/StayWithPetsBatumi" target="_blank" aria-label="Connect with us in telegram">
    <svg class="h-16 w-16 text-teal-800" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4" />
    </svg>
  </a>
  <a href="https://www.instagram.com/staywithpets.batumi/" target="_blank" aria-label="Join us in Instagram">
    <svg class="h-16 w-16 text-teal-800" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z"/>
      <rect x="4" y="4" width="16" height="16" rx="4" />
      <circle cx="12" cy="12" r="3" />
      <line x1="16.5" y1="7.5" x2="16.5" y2="7.501" />
    </svg>
  </a>
  <a href="https://twitter.com/StayWithPets" target="_blank" aria-label="Follow us in Twitter">
    <svg class="h-16 w-16 text-teal-800" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.3" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z"/>
      <path d="M22 4.01c-1 .49-1.98.689-3 .99-1.121-1.265-2.783-1.335-4.38-.737S11.977 6.323 12 8v1c-3.245.083-6.135-1.395-8-4 0 0-4.182 7.433 4 11-1.872 1.247-3.739 2.088-6 2 3.308 1.803 6.913 2.423 10.034 1.517 3.58-1.04 6.522-3.723 7.651-7.742a13.84 13.84 0 0 0 .497 -3.753C20.18 7.773 21.692 5.25 22 4.009z" />
    </svg>
  </a>
</div>
<div class="text-center text-xl self-center w-full mt-24 max-md:mt-10">
  © {year} {t('footer.copy')}
</div>