---
import { Image } from 'astro:assets';
import en from '../assets/icons/en.svg';
import ru from '../assets/icons/ru.svg';
import logo from '../assets/images/logo.svg';
import { getLangFromUrl, switchURLLang } from "../i18n/utils";

interface Props {
    title: string;
}

const {title} = Astro.props;
const lang = getLangFromUrl(Astro.url);
---
<header class="mb-4">
    <div class="flex">
        <div class="flex-none">
            <a href={`/${lang}/`}>
                <Image src={logo} alt="Dzaglik logo" width="200"/>
            </a>
        </div>
        <div class="flex-grow"></div>
        <div class="flex-none">
            <div class="grid grid-cols-2 gap-4">
                <a href={switchURLLang(Astro.url, 'ru')}>
                    <Image src={ru} alt="Russian" class="icon"/>
                </a>
                <a href={switchURLLang(Astro.url, 'en')}>
                    <Image src={en} alt="English"  class="icon"/>
                </a>
            </div>
        </div>
    </div>
    <div class="relative justify-center items-center self-center flex w-full flex-col mt-11 px-16">
            <div class="text-teal-800 text-center text-3xl self-center grow my-auto">
                {title}
            </div>
    </div>
</header>

<style>
    .icon {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        object-fit: cover;
    }
</style>