<template>
    <lightgallery :settings="settings" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-6 sm:grid-flow-row gap-4 place-content-center content-center">
        <a v-for="image of images" :href="image.default.src" :class="image.default.classes" >
            <img :src="image.thumb ? image.thumb.default.src : image.default.src" class="rounded-lg sm:transition sm:duration-300 sm:ease-in-out sm:hover:scale-110 sm:hover:shadow-black sm:hover:shadow-2xl" />
        </a>
    </lightgallery>
</template>

<script lang="ts">
import Lightgallery from 'lightgallery/vue';

import 'lightgallery/css/lg-thumbnail.css';
import 'lightgallery/css/lg-zoom.css';
import 'lightgallery/css/lightgallery.css';

const shuffle = (array: any[]) => {
  for (let i = array.length - 1; i > 0; i--) {
    const j = Math.floor(Math.random() * (i + 1));
    [array[i], array[j]] = [array[j], array[i]];
  }
  return array;
};

let images: any = []

export default {
    props: ['images'],
    components: {
        Lightgallery,
    },
    setup(props) {
        if (props.images) {
            props.images.forEach((image: Record<string, any>) => {
                const isVertical = image.default.width < image.default.height;
                const isHorizontal = image.default.width > image.default.height;
                const isSquare = image.default.width === image.default.height;

                let classesList = "h-auto max-w-full m-auto"

                if (isVertical) {
                    classesList += " sm:row-span-2"
                }
                if (isHorizontal) {
                    classesList += " sm:col-span-2"
                }
                if (isSquare) {
                    classesList += " sm:col-span-2 sm:row-span-2"
                }
                image.default.classes = classesList;
            });
        }

        images = shuffle(props.images);

        return {
            settings: {
                speed: 500,
                counter: false,
                download: false,
                closeOnTap: true,
            },
        };
    },
}
</script>
<style>
    .lg-image {
        border-radius: 1rem;
    }
</style>
