---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import Layout from "../layouts/Layout.astro";
import Button from "./Button.astro";

interface Props {
  page: CollectionEntry<'main'>;
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const { page } = Astro.props
---
<Layout title={page.data.title}>
    <main>
        <div class="relative text-xl mt-6 max-md:max-w-full">
            {page.data.description}
        </div>
        <div class="text-teal-800 text-center text-3xl  my-8">
            {page.data.subtitle}
        </div>
        {page.data.blocks.map(block => (
            <div class="md:flex even:flex-row-reverse mb-4 gap-4 mt-8 md:mt-0">
                <div class="flex flex-col items-stretch md:w-1/2">
                    <Image src={block.img.file} alt={block.img.alt} class="w-full h-96 object-cover rounded-xl"/>
                </div>
                <div class="flex flex-col items-stretch md:w-1/2">
                    <div class="justify-center flex flex-col my-auto items-start">
                        <div class="text-teal-800 text-justify text-3xl mt-8 md:mt-0">
                            {block.title}
                        </div>
                        <div class="text-xl self-stretch mt-5">
                            {block.description}
                        </div>
                        <Button link={block.link} classes="mt-5">
                            {t('button.show-more')}
                        </Button>
                    </div>
                </div>
            </div>
        ))}
    </main>
</Layout>