---
import type { CollectionEntry } from "astro:content";
import { useTranslations } from "../i18n/utils";
import Layout from "../layouts/Layout.astro";

interface Props {
  page: CollectionEntry<'meds'>;
}
const { page }  = Astro.props
const { lang } = Astro.params
const t = useTranslations(lang as "en" | "ru");

---
<Layout title={page.data.title}>
    <div>{ page.data.description }</div>
    <hr class="line mt-8" />
    <div class="grid grid-cols-1 md:grid-cols-2">
        <div class="ml-4 mt-8">
            <h2 class="text-2xl font-bold text-neutral-900 mb-2">{t('meds.pharmacy_products')}</h2>
            <ul class="list-disc list-inside">
                { page.data.medicines.pharmacy_products.map((med) => (
                    <li>{ med }</li>
                )) }
            </ul>
        </div>
        <div class="ml-4 mt-8">
            <h2 class="text-2xl font-bold text-neutral-900 mb-2">{t('meds.veterinary_products')}</h2>
            <ul class="list-disc list-inside">
                { page.data.medicines.veterinary_products.map((med) => (
                    <li>{ med }</li>
                )) }
            </ul>

        </div>
    </div>
</Layout>

