<template>
  <swiper
      :effect="'coverflow'"
      :slide-to-clicked-slide="true"
      :pagination="true"
      :centered-slides="true"
      :initial-slide="2"
      :coverflowEffect="{
        rotate: 0,
        stretch: 100,
        depth: 100,
        modifier: 1,
        slideShadows: true,
      }"
      :breakpoints="{
        320: {
          slidesPerView: 'auto',
          spaceBetween: 20,
          initialSlide: 0,
        },
        768: {
          slidesPerView: 2,
          spaceBetween: 40,
        },
        1024: {
          slidesPerView: 3,
          spaceBetween: 50,
        }
      }"
      :modules="modules"
  >
    <swiper-slide v-for="image in $props.images"><img :src=image.file.src :alt=image.alt /></swiper-slide>
  </swiper>
</template>
<script>
import { EffectCoverflow, Pagination } from 'swiper/modules';
import { Swiper, SwiperSlide } from 'swiper/vue';

import 'swiper/css';
import 'swiper/css/effect-coverflow';
import 'swiper/css/pagination';

export default {
  props: ['images'],
  components: {
    Swiper,
    SwiperSlide,
  },
  setup() {
    return {
      modules: [EffectCoverflow, Pagination],
    };
  },
};
</script>
<style>
:root {
  --swiper-theme-color: rgb(173, 215, 187);
  --swiper-pagination-bullet-inactive-opacity:  0.5;
}
@media (min-width: 768px) {
  .swiper-pagination-bullets {
    display: none;
  }

}
.swiper-wrapper {
  align-items: center;
}
</style>