---
interface Props {
    text: string;
}

const {text} = Astro.props;
---
<div id="copy-success-toast" class="invisible opacity-0 fixed mx-auto inset-x-0 bottom-10 rounded-2xl bg-green-50 p-4 w-fit transition-all duration-300 ease-in-out">
    <div class="flex justify-center">
        <div class="ml-3">
            <p class="text-sm font-medium text-green-800">{text}</p>
        </div>
        <div class="mx-3">
            <div class="-mx-1.5 -my-1.5">
                <button id="close-toast" type="button" class="inline-flex rounded-md bg-green-50 p-1.5 text-green-500 hover:bg-green-100 focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-offset-2 focus:ring-offset-green-50">
                    <span class="sr-only">Dismiss</span>
                    <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>