---
import '@fontsource/comfortaa';
import { SEO } from 'astro-seo'

import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

const { title, frontmatter, pageTitle, description, logo, ogImage } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Pet helpers community in Batumi, Georgia" />
		<meta name="viewport" content="width=device-width" />
		<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		<link rel="sitemap" href="/sitemap-index.xml" />
		<SEO
			title={pageTitle || title || frontmatter?.title}
			description={description || 'Pet helpers community in Batumi, Georgia'}
			openGraph={{
				basic: {
				title: pageTitle || title || frontmatter?.title,
				type: "Batumi Pet Helpers website",
				image: ogImage || logo || process.env.SITE_URL + '/logo.png',
				}
			}}
			twitter={{
				creator: "@StayWithPets",
				title: pageTitle || title || frontmatter?.title,
				description: description || 'Pet helpers community in Batumi, Georgia',
				image: ogImage || logo || process.env.SITE_URL + '/logo.png',
			}}
		/>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-29N4E3VDZ2"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(...args: (string | Date)[]){window.dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-29N4E3VDZ2');
		</script>
	</head>
	<body>
		<Header title={title || frontmatter?.title}/>
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--swiper-theme-color: #136430FF;
		--main-color: #00625C
	}

	html {
		font-family: Comfortaa, system-ui, sans-serif;
		font-display: swap;
		background-size: 224px;
		@apply text-neutral-600
	}
	body {
		background-image: url("../assets/images/bg.svg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		margin: auto;
		padding: 1rem;
		max-width: calc(100% - 2rem);
		width: 1200px;
		font-size: 20px;
		line-height: 1.6;
	}

	.line {
        color: var(--main-color);
        opacity: .3;
        border: 2px solid var(--main-color);
        border-radius: 5px;
    }

</style>
